<section class="hero-section">
    <img src="/assets/hero.svg" alt="Hero" class="hero-image" />
  
    <div class="hero-content">
      <div class="hero-text">
        <h1 class="hero-title">
          Hello, <br />
          This is <span class="highlight-pink">{{ personalData.name }}</span>,
          I'm a Professional
          <span class="highlight-green">{{ personalData.designation }}</span>.
        </h1>
  
        <div class="hero-links">
          <a href="{{ personalData.github }}" target="_blank" class="social-link">
            <i class="fab fa-github"></i>
          </a>
          <a href="{{ personalData.linkedIn }}" target="_blank" class="social-link">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="{{ personalData.leetcode }}" target="_blank" class="social-link">
            <i class="fas fa-code"></i>
          </a>
        </div>
  
        <div class="button-group">
          <a href="#contact" class="contact-link">
            <button class="contact-button">
              <span>Contact me</span>
              <i class="bi bi-person-lines-fill"></i>
            </button>
          </a>
        
          <a class="resume-link" role="button" target="_blank" href="{{personalData.resume}}">
            <span>Get Resume</span>
            <i class="bi bi-download"></i>
          </a>
        </div>
      </div>     
      <app-code-snippet></app-code-snippet>
    </div>
  </section>
  